{% extends "assets/base.html" %}

{% block title %}
Delete Level | Asset QR System
{% endblock %}

{% block content %}
    <h2>Delete Level</h2>

    <form method="post">
        {% csrf_token %}

        <p>
            Are you sure you want to delete
            <strong>{{ level }}</strong>?
        </p>

        <p>
            Deleting this level may also delete its related rooms
            and components.
        </p>

        <button type="submit">
            Confirm Delete
        </button>

        <a
            href="{% url 'assets:level_list' %}"
            class="button"
        >
            Cancel
        </a>
    </form>
{% endblock %}